body {
	color: #711d2a;
	background-color: #e7e7e7;
}

.asphalt {
	background-color: #34495e;
}

.asphalt-text {
	color: #34495e;
}

.asphalt-button {
	background-color: #34495e;
}

.cardinal {
	background-color: #711d2a;
}

.cardinal-text {
	color: #711d2a;
}

.cardinal-button {
	background-color: #711d2a;
}

.kj-grey {
	background-color: #75828E;
}

.kj-grey-button {
	background-color: #75828E;
}

.asphalt-button:hover, .asphalt-button:active, .asphalt-button:focus, .kj-grey-button:hover, .kj-grey-button:active, .kj-grey-button:focus {
	background-color: #6291BB;
}

.cardinal-button:hover, .cardinal-button:active, .cardinal-button:focus {
	background-color: #983f4d;
}

.green-edition-text {
	color: #71bd74 !important;
}

.green-edition-text:hover {
	color: #4CAF50 !important;
}

.link-hover {
	cursor: pointer;
}

.btn-footer, .btn-body {
	padding-top: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.verticalcenter {
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}

.active-account {
	background-color: #e3b2ba;
	color: white !important;
}

.cursor {
	background: #34495e;
	animation: blink 1s linear infinite;
}

.saisie {
	word-wrap: break-word;
}

.divider-new, .divider-new-right, .divider-new-left {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.64rem;
	font-weight: 300;
}

.divider-new::before, .divider-new-left::before {
	content: '';
	height: 1.5px;
	background: #711d2a;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new::after, .divider-new-right::after {
	content: '';
	height: 1.5px;
	background: #711d2a;
	flex: 1;
	margin: 0 0 0 .45em;
}

.divider-new-light::before {
	content: '';
	height: 1px;
	background: #AAA;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new-light::after {
	content: '';
	height: 1px;
	background: #AAA;
	flex: 1;
	margin: 0 0 0 .45em;
}

.divider-new-white {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.64rem;
	font-weight: 300;
}

.divider-new-white-right::before {
	content: '';
	height: 1.5px;
	background: white;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new-white-left::after {
	content: '';
	height: 1.5px;
	background: white;
	flex: 1;
	margin: 0 0 0 .45em;
}

.monthly-operation {
	background-color: #d3eaff !important;
	
}

.monthly-operation:hover {
	background-color: #ffdee3 !important;
}

.differed-operation {
	background-color: #fff9d3 !important;
	
}

.differed-operation:hover {
	background-color: #ffdee3 !important;
}

.edition {
	transition: all .25s ease;
	opacity: 0;
}

.edition-active {
	opacity: 1 !important;
}

.delete-hover:hover, .edit-hover:hover {
	color: #711d2a;
}

.ligne {
	transition: background-color .25s ease;
}

.edited-ligne {
	background-color: #b7f2b7 !important;
}

.edited-ligne:hover {
	background-color: #b7f2b7 !important;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}
/* Track */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/* Handle */

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #711d2a;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #75828E;
}

/*Navbar height override*/

nav {
    height: 50px;
    line-height: 50px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo { 
    font-size: 1.6rem;
	height: 50px !important;
}

.navbar-fixed, .navbar-fixed li a {
	height: 50px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}